# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Dados temporários
*.tmp
*.log
